// Vendors
@import "~bootstrap/scss/bootstrap";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";

// Abstracts
@import "./variables";

// Base
@import "./base";
@import "./helpers";

// Components
@import "./components/hero";
@import "./components/blockquote";
@import "./components/icons";



// Layouts
@import "./layout/navbar";
@import "./layout/footer";



.values {
    background-color: #3f43cc;
    &__title {
        color: #fff;
    }
    &__subtitle {
        font-size: 1.3rem;
        color: #fff
    }
    &__text {
        color: #fff;
    }
}
.contact-promo {
    background-color: $midpink;
    padding: 100px 0;
    &__content {
        text-align: center;
    }
}