html {
    scroll-behavior: smooth
}
body {
    font-family: century gothic,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
a {
    color: #212529;
    &:hover {
        color: #212529
    }
}
*::-webkit-media-controls-panel {
    display: none!important;
    -webkit-appearance: none;
  }
  
  
  *::-webkit-media-controls-play-button {
    display: none!important;
    -webkit-appearance: none;
  }
  
  *::-webkit-media-controls-start-playback-button {
    display: none!important;
    -webkit-appearance: none;
  }
.section {
    padding: 60px 0;
}
