html {
    scroll-behavior: smooth
}
body {
    font-family: century gothic,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
a {
    color: #212529;
    &:hover {
        color: #212529
    }
}
video::-webkit-media-controls {
    -webkit-appearance: none;
    display:none !important;
}
.section {
    padding: 60px 0;
}
